---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio">
  <main class="h-full flex items-center justify-center">
    <h1 class="text-4xl font-bold text-eco-green">EcoRuta</h1>
  </main>
</Layout>
