---
import '../styles/global.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>EcoRuta - Hackaton 2026</title>
	</head>
	<body class="min-h-screen bg-gray-50 flex items-center justify-center">
		<h1 class="text-4xl font-bold text-green-600">EcoRuta</h1>
	</body>
</html>
